*.o
*.a
*.so
*.swp
*.pdb 
*.ilk 
*.idb
*.obj
*.exp
*.exe
.sconsign.dblite
lib/*
res/assets/inc/*
/.sconsign.dblite
/res/assets/inc
/SConstruct_backpack
/src/custom_widgets/*.obj
/src/custom_widgets/*/*.obj
/src/api/*.obj
/src/*.obj
